h3{
    text-align: center;
}

.PortfolioItemContainer{
    float: left;
    position: relative;
    background-color: #D3D3D3;
    height: 250px;
    width: 200px;
    margin: 5px 2.5px 0px 2.5px;
}

.PortfolioImage{
    padding: 25px;
}

.Seperator {
  border-bottom: 2px solid white;
  width: 150px;
  margin: 0 auto;
}