h3{
    text-align: center;
}

.PortfolioItemContainer{
    float: left;
    position: relative;
    background-color: #D3D3D3;
    height: 250px;
    width: 200px;
    margin: 5px 2.5px 0px 2.5px;
}

.PortfolioImage{
    padding: 25px;
    width: 150px;
    height: 97px;
}

.Seperator {
  border-bottom: 2px solid white;
  width: 150px;
  margin: 0 auto;
}

.Remove{
    position: relative; 
    z-index: 1;
    background-image: url("./images/trash.png");
    width: 30px;
    height: 30px;
    bottom: -19px;
    display: none;
}

.Edit{
    position: relative; 
    float: left;
    z-index: 1;
    background-image: url("./images/edit.png");
    width: 30px;
    height: 30px;
    display: none;
    bottom: 11px;
    right: -31px;
}

div.PortfolioItemContainer:hover button.Remove{
    display: block;
}
div.PortfolioItemContainer:hover button.Edit{
    display: inline;
}