.DisplayContainer{
    margin-left: 15px;
    width: 300px;
}

.DisplayContainer > p{
    text-align: left;
}

.DispalyHeader{
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 25px;
    padding-bottom: 3px;
}
