.FormHeader{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.FormContainer{
    padding: 50px 12px 0px 0px;
}

.FormContainer label{
    display: block;
    margin: 15px 0px 0px 0px;
    font-weight: bold;
}

.FormContainer input[type="text"]{
    width: 15%;
}

.FormContainer textarea{
    width: 35%;
    height: 150px;
}

.FormContainer input[type=submit]{
    border: none;
    padding: 8px 15px 8px 15px;
    display: block;
}